.about {
    display: flex;
    width: 1200px;
    max-height: 600px;
    margin-top: 50px;
    font-size: 13px;
}
.about-info {
    display: flex;
};

.about-skills {
    display: flex;
    height: 700px;
}