

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 7vh;
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}
li {
    list-style: none;
    margin-left: 40px;
    color: azure;
}


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, rgb(24, 28, 29), rgb(221, 218, 219));
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -5;
}

.appComponents {
    display: flex;
}